<div class="add" >
  <h5 class="add__h5">Fill fileds</h5>
  <div class="add__area">
    <label class="add__label">Title</label>
    <input
      #someInput
      name="title"
      type="text"
      class="add__input"
      (input)="changeText($event)"
      [value]="title"
    />
    <label class="add__label">Text</label>
    <input
      name="text"
      type="text"
      class="add__input"
      (input)="changeText($event)"
      [value]="text"
    />
  </div>
  <div class="add__basement">
    <button
      class="add__btn"
      (click)="sendPost()"
    >Send</button>
    <button
      class="add__btn"
      (click)="focusDo()"
    >Select</button>
  </div>
</div>
