/* You can add global styles to this file, and also import other style files */
body{
  font-size: 16px;
  background-color: blanchedalmond;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

body, html {
  padding: 0;
  margin: 0;
}

.flex{
  display: flex;
}

h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

.search {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__input{
    font-size: 1.1rem;
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
  }
  &__list{
    display: flex;
    flex-direction: column;
  }
  &__frame{
    padding: 10px 0;
  }
  &__scope{
    display: flex;
    gap: 5px;
  }
}

.async{
  font-size: 1.5rem;
  text-align: center;
}

.pipe{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  &>span{
    font-size: 1.3rem;
  }
}

