<div class="first">
  <p class="first__text">{{ text }}</p>
  <input
    class="first__input"
    (input)="inputText($event)"
    [value]="text"
  />
  <div class="first__frame">
    <button
      class="first__btn"
      (click)="flag = !flag"
    >{{ flag ? 'Hide' : 'Show' }}</button>
    <div
      class="first__square"
      [ngClass]="{'first__square--red': flag}"
    >
    </div>
  </div>
  <div class="first__frame">
    <div class="first__head">
      <button
        class="first__btn"
        (click)="article = 'one'"
      >One</button>
      <button
        class="first__btn"
        (click)="article = 'two'"
      >Two</button>
      <button
        class="first__btn"
        (click)="article = 'three'"
      >Three</button>
    </div>
    <div class="first__frame" [ngSwitch]="article">
      <p *ngSwitchCase="'one'">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, et?</p>
      <p *ngSwitchCase="'two'">Two Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, et?</p>
      <p *ngSwitchCase="'three'">Three Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, et?</p>
    </div>
    <div class="first__frame" >
      <div class="flex">
        <div class="first__cell">Name</div>
        <div class="first__cell">Age</div>
        <div class="first__cell">Married</div>
      </div>
      <ng-container *ngFor=" let user of userList; index as i ">
        <div class="flex">
          <div class="first__cell">{{user.name}}</div>
          <div class="first__cell">{{user.age}}</div>
          <div class="first__cell">{{user.married ? 'Yes' : 'No'}}</div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
