# compiled output
/server/dist
/server/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/server/coverage
/server/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/client/dist
/client/tmp
/client/out-tsc
/client/bazel-out

# Node
/client/node_modules
npm-debug.log
yarn-error.log

# Miscellaneous
/client/.angular/cache
/client.sass-cache/
/client/connect.lock
/client/coverage
/client/libpeerconnection.log
/clienttestem.log
/client/typings

# System files
.DS_Store
Thumbs.db
