<section class="form__section">
  <div class="form__frame">
    <h5 class="form__h">Angular forms</h5>
    <form class="form">
      <div class="form__cell">
        <label class="form__label">Email</label>
        <input class="form__input" name="email" type="text" />
        <small class="form__error"> text error </small>
      </div>
      <div class="form__cell">
        <label class="form__label">Password</label>
        <input class="form__input" name="password" type="password" />
        <small class="form__error"> text error </small>
      </div>
      <div class="form__address">
        <h5 class="form__h form__h--small">Address</h5>
        <div class="form__contry">
          <select class="form__select">
            <option value="by">Белорусь</option>
            <option value="ru">Россия</option>
            <option value="ukr">Украина</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</section>
