<section class="header__section">
  <div class="container header">
    <div class="header__paths">
      <a class="header__login" href="/">Angular</a>
    </div>
    <div class="header__paths">
      <nav class="header__nav">
        <a class="header__link header__link--active" href="/">Home</a>
        <a class="header__link" href="/post">Post</a>
        <a class="header__link" href="/about">About</a>
      </nav>
      <button class="header__btn">Login</button>
      <button class="header__btn">logout</button>
    </div>
  </div>
</section>
